*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('https://media.istockphoto.com/id/1287170933/photo/enter-login-and-password-internet-connection-and-cyber-protection.jpg?b=1&s=170667a&w=0&k=20&c=kZWzv8c-1IHbrvIWev96Qs5YZlsErbzt5WRP_9wzrsY=');
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    
    // background-color: red;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    .logo{
        font-size: 30px;
        color: #000;
        
    }
    .navigation{
        a{
            position: relative;
            color: #162938;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            padding:0 15px;
            &::after{
                content: "";
                position: absolute;
                left: 0;
                bottom: -10px;
                width: 0;
                height: 2.6px;
                background-color: #162938;
                transition: all 0.3s;
            }
            &:hover{
                &::after{
                    width: 80%;
                }
            }
        }
        .btnLogin-popup{
            width: 130px;
            height: 40px;
            background-color: transparent;
            border-radius: 5px;
            border: 2px solid #162938;
            color: #162938;
            font-size: 20px;
            font-weight:600 ;
            margin-left: 45px;
            transition: all 0.2s;
            &:hover{
                background-color: #162938;
                color: #fff;
            }
        }
    }
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper{
        position: relative;
        width: 400px;
        height: 440px;
        border: 2px solid #fff;
        border-radius: 20px;
        backdrop-filter: blur(20px);
        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;

        transform: scale(0);
        transition: transform .5s ease,height .2s ease;
        .icon-close{
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 1.5em;
            cursor: pointer;
            z-index: 100;
            
        }
        .form-box{
            width: 100%;
            padding: 40px;
        }
          .login{
            //   display: none;
            transition: transform .18s ease;
            transform: translateX(0);

              h2{
                color: black;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
            }
            .input-box{
                position: relative;
                width: 100%;
                height: 50px;
                border-bottom: 2px solid #000;
                margin: 30px 0;
                input:focus~label,
                input:valid~label{
                    top: -5px;
                }
                label{
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    font-size: 1em;
                    color: #162938;
                    font-weight: 500;
                    transition: all .5s;
                  
                }
              
                input{
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    border: none;
                    outline: none;
                    font-size: 1em;
                    color: #162938;
                    font-weight: 500;
                }
                .icon{
                    position: absolute;
                    right: 8px;
                    font-size: 1.2em;
                    color: #162938;
                    line-height: 57px;
                }
            }
        

        
        .remember-forgot{
            font-size: 1em;
            font-weight: 500;
            color: #162938;
            display:flex;
            justify-content: space-between;
           a{
               text-decoration: none;
               color: #162938;
               &:hover{
                   text-decoration: underline;
               }
           }

        }
        .btn{
        margin-top: 15px;
        width: 100%;
        height: 45px;
        background: #162938;
        border: none;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1em;
        font-weight: 500;
        color: #fff;
        }
        .login-register{
            font-size: 1em;
            font-weight: 500;
            color: #162938;
            text-align: center;
            margin: 20px 0 10px;
            p{
                a{
                    color: #162938;
                    text-decoration: none;
                    font-weight: 600;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
          }
        
    
    }

    

    .form-box{
        width: 100%;
        padding: 40px;
    }
  
    .register{
    
        // transition: none;
        position: absolute;
        transform: translateX(400px);

        h2{
          color: black;
          font-size: 30px;
          font-weight: bold;
          text-align: center;
      }
      .input-box{
          position: relative;
          width: 100%;
          height: 50px;
          border-bottom: 2px solid #000;
          margin: 30px 0;
          input:focus~label,
          input:valid~label{
              top: -5px;
          }
          label{
              position: absolute;
              top: 50%;
              left: 5px;
              font-size: 1em;
              color: #162938;
              font-weight: 500;
              transition: all .5s;
            
          }
        
          input{
              width: 100%;
              height: 100%;
              background: transparent;
              border: none;
              outline: none;
              font-size: 1em;
              color: #162938;
              font-weight: 500;
          }
          .icon{
              position: absolute;
              right: 8px;
              font-size: 1.2em;
              color: #162938;
              line-height: 57px;
          }
      }
  

  
  .remember-forgot{
      font-size: 1em;
      font-weight: 500;
      color: #162938;
      display:flex;
      justify-content: space-between;
     a{
         text-decoration: none;
         color: #162938;
         &:hover{
             text-decoration: underline;
         }
     }

  }
  .btn{
  margin-top: 15px;
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  }
  .login-register{
      font-size: 1em;
      font-weight: 500;
      color: #162938;
      text-align: center;
      margin: 20px 0 10px;
      p{
          a{
              color: #162938;
              text-decoration: none;
              font-weight: 600;
              &:hover{
                  text-decoration: underline;
              }
          }
      }
  }
    }
    .active{
        height: 520px;
        .login{
            transition: none;
            transform: translateX(-400px);
        }
        .register{
            transition: transform .18s ease;
            transform: translateX(0);
        }
        
    }
    .active-popup{
        transform: scale(1);
    }

}
